body {
  font-family: 'Waiting for the Sunrise', cursive; 
  font-size:30px; 
  margin: 10px 50px; 
  letter-spacing: 6px; 
  font-weight: bold;
  margin: 0;
  overflow-x: hidden;
}

#logo {
  width: 4vw;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 3;
}

#gitlab {
  width: 4vw;
  position: fixed;
  right: 10px;
  top: 10vh;
  z-index: 3;
}

#gDocs {
  width: 4vw;
  position: fixed;
  right: 10px;
  top: 20vh;
  z-index: 3;
}

#dist {
  width: 4vw;
  position: fixed;
  right: 10px;
  top: 30vh;
  z-index: 3;
}

.content {
  animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.strofe {
  height: 175vh;
  width: 100vw;
  text-align: center;
  
}

a {
  color: black;
  text-decoration: none;
}

.contentRight, .contentLeft {
  width: 25vw;
  position: absolute;
  margin: 0px 0px;
}

.contentMiddle {
  width: 45vw;
  position: absolute;
  left: 27vw;
  margin: 0px 0px;
  letter-spacing: 2px;
}

.contentRight>img, .contentLeft>img, .contentMiddle>img {
  width: 25vw;
}

.hyperlink {
  color: hotpink;
  text-decoration: underline;
}

.hyperlink:hover {
  color: purple;
  text-decoration: underline;
}

.contentLeft {
  text-align: left;
  left: 0px;
}

.contentRight {
  text-align: right;
  right: 0px;
}

.text {
  font-size: medium;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
}

#explainer {
  display: inline-block;
  position: absolute;
  top: 17vh;
  left: 70vw;
  width: 30vw;
}

#arrow {
  -webkit-transform: scaleX(-1);
  width: 7vw;
  position: unset;
  

}

#explanation {
  
  transform: rotate(15deg);

  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(15deg);

  /* Firefox */
  -moz-transform: rotate(15deg);

  /* Opera */
  -o-transform: rotate(15deg);
}